#canvas{
  background-color: black;
}

.knapsackScreen{
  background-color: black;
}

.alert{
  display: none;
  text-align: left;
  font-size: 0.57in;
  color: #ff0000;
}

.column{
  float: left;
}

.place{
  text-align: center;
  color: #CCCCCC;
}

.stuff{
  margin: 6px;
  border: 1px solid black;
  background-color: "#999999"; // why isn't this happening
  height: 290px;
  width: 400px;
}

.item{
  text-align: center;
  display: inline-block;
  margin: 3px;
}

.item:hover{
  cursor: pointer;
  color: #CCCCCC;
}

.instructions{
  text-align: center;
  color: #AAAAAA;
}
